<ion-view view-title="Ma poubelle">
  <ion-content>

    <div class="list card">
        <div class="item item-text-wrap item-icon-left assertive">
            <i class="icon ion-android-person"></i>
            L'équipe
        </div>
        
        <div class="item item-avatar">
            <img src="http://greenti.bzh/user/themes/greenTi/images/joel.jpg" alt="">
            <h2>Joel</h2>
            <p>Electronicien</p>
        </div>
        <div class="item item-avatar" onclick="window.open('http://caradeuc.info/', '_system', 'location=yes')">
            <img src="http://greenti.bzh/user/themes/greenTi/images/benjamin.jpg" alt="">
            <h2>
                Benjamin
                <i class="icon ion-link"></i>
            </h2>
            <p>Développeur site web & app mobile</p>
        </div>
        <div class="item item-avatar">
            <img src="http://greenti.bzh/user/themes/greenTi/images/maxime.jpg" alt="">
            <h2>Maxime</h2>
            <p>Développeur back-end</p>
        </div>
        <div class="item item-avatar">
            <img src="http://greenti.bzh/user/themes/greenTi/images/annegaelle.jpg" alt="">
            <h2>Anne-Gaelle</h2>
            <p>Juriste</p>
        </div>
        <div class="item item-avatar">
            <img src="http://greenti.bzh/user/themes/greenTi/images/arnaud.jpg" alt="">
            <h2>Arnaud</h2>
            <p>Gestionaire en économies</p>
        </div>
        <div class="item item-avatar">
            <img src="http://greenti.bzh/user/themes/greenTi/images/edruina.jpg" alt="">
            <h2>Edruina</h2>
            <p>Chargée de recrutement</p>
        </div>

        <div onclick="window.open('http://greenti.bzh/', '_system', 'location=yes')" class="item item-divider item-icon-left positive">
            <i class="icon ion-link"></i>
            greenti.bzh
        </div>
    </div>


  </ion-content>
</ion-view>