<ion-view view-title="Ma poubelle">
  <ion-content>

    <div class="list card">
        <div class="item item-text-wrap item-icon-left assertive">
            <i class="icon ion-android-person"></i>
            L'équipe
        </div>
        
        <div class="item item-avatar">
            <img src="http://greenti.bzh/user/themes/greenTi/images/joel.jpg" alt="">
            <h2>Joel</h2>
            <p>Electronicien</p>
        </div>
        <div class="item item-avatar" onclick="window.open('http://caradeuc.info/', '_system', 'location=yes')">
            <img src="http://greenti.bzh/user/themes/greenTi/images/benjamin.jpg" alt="">
            <h2>
                Benjamin
                <i class="icon ion-link"></i>
            </h2>
            <p>Développeur site web & app mobile</p>
        </div>
        <div class="item item-avatar">
            <img src="http://greenti.bzh/user/themes/greenTi/images/maxime.jpg" alt="">
            <h2>Maxime</h2>
            <p>Développeur back-end</p>
        </div>
        <div class="item item-avatar">
            <img src="http://greenti.bzh/user/themes/greenTi/images/annegaelle.jpg" alt="">
            <h2>Anne-Gaelle</h2>
            <p>Juriste</p>
        </div>
        <div class="item item-avatar">
            <img src="http://greenti.bzh/user/themes/greenTi/images/arnaud.jpg" alt="">
            <h2>Arnaud</h2>
            <p>Gestionaire en économies</p>
        </div>
        <div class="item item-avatar">
            <img src="http://greenti.bzh/user/themes/greenTi/images/edruina.jpg" alt="">
            <h2>Edruina</h2>
            <p>Chargée de recrutement</p>
        </div>
    </div>

    <div class="list card">
        <div class="item item-text-wrap item-icon-left assertive">
            <i class="icon ion-earth"></i>
            Le projet
        </div>
        <div class="item item-text-wrap">
            Projet réalisé dans le cadre des entrepreneuriales 2015-2016.
        </div>
        <div class="item item-text-wrap">
            <h3>Quand sortira ce produit?</h3>
            <p>Nous ne nous projetons pas encore pour une sortie cette année mais pourrions lancer le produit et la solution dès l'année prochaine, qui sait ...</p>
        </div>
        <div class="item item-text-wrap">
            <h3>Puis-je utiliser cette application ou ce site pour ma liste de courses personnelle ?</h3>
            <p>Non, en l'état tout personne connectée partage la même base de donnée. Votre liste serait donc visible et modifiable par n'importe qui.</p>
        </div>
        <div class="item item-text-wrap">
            <h3>Pourquoi ne pas avoir fait d'application pour iOs?</h3>
            <p>L'application est développée, mais nous n'avons pas les fonds nécessaires pour la proposer sur le store d'apple. L'application android n'est d'ailleurs pas non plus sur le store de Google, mais les téléphones android permettent l'installation d'applications à partir de sources extérieures.</p>
        </div>
        <div onclick="window.open('http://greenti.bzh/', '_system', 'location=yes')" class="item item-divider royal">
            greenti.bzh
        </div>
    </div>

    <div class="list card">
        <div class="item item-text-wrap item-icon-left assertive">
            <i class="icon ion-alert-circled"></i>
            CGU
        </div>
        <div class="item item-text-wrap">
            <h3> !! DEMONSTRATION !! </h3>
            <p>Ce dashboard est déployé à des fins de démonstration et aucunement à des fins professionnelles ou lucratives</p>
        </div>
        <div class="item item-text-wrap">
            <p class="text-center"><b><i>GreenTi. copyright 2015-2016</i></b></p>
        </div>
    </div>

  </ion-content>
</ion-view>