<ion-view view-title="Ma poubelle">
  <ion-content>

    <div class="list card">
      <div class="item item-text-wrap item-icon-left assertive">
        <i class="icon ion-ribbon-b"></i>
        -12kg de déchets !
      </div>
      <div class="item item-image">
        <img src="img/recyclage_bravo.png" alt="">
        <!--<img src="http://lorempicsum.com/up/350/200/6" alt="">-->
      </div>
      <div class="item item-text-wrap">
        <p>
          Vous avez réduit vos déchets de 12kg entre février et mars ! 
        </p>
      </div>
      <div ng-click="shareBtn(0)" class="item item-divider item-icon-right">
        <i class="icon ion-android-share-alt"></i>
        Partager
      </div>
    </div>

    <div class="list card">
      <div class="item item-text-wrap item-icon-left assertive">
        <i class="icon ion-android-cart"></i>
        Ajoutés récemment
      </div>

      <ion-item class="text-center" ng-show="listLoading"><ion-spinner class="spinner-royal" icon="lines"></ion-spinner></ion-item>


      <div class="item item-text-wrap item-icon-left" ng-repeat="item in shoppingList.list | limitTo: 3">
        <i class="icon ion-ios-checkmark-empty" ng-show="item.checked"></i>
        {{::item.title}}
      </div>
      
      <a href="#/app/list" class="item item-divider item-icon-right">
        Voir la liste complete...
        <i class="icon ion-arrow-right-c"></i>
      </a>
    </div>

    <div class="list card">
      <div class="item item-text-wrap item-icon-left assertive">
        <i class="icon ion-stats-bars"></i>
        Statistiques
      </div>
      <div class="item item-text-wrap">
        <canvas id="line" class="chart chart-line" 
            chart-colours="chart.colours" 
            chart-data="chart.data" 
            chart-labels="chart.labels" 
            chart-legend="true" 
            chart-series="chart.series" 
            chart-options="{showTooltips: false}">
        </canvas>
      </div>
    </div>

    <div class="list card ">
      <div class="item item-text-wrap item-icon-left assertive">
        <i class="icon ion-android-bicycle"></i>
        Votre premier vélo !
        
      </div>
      <div class="item item-text-wrap">
        <p>Les 32kg de métal que vous avez recyclés pourraient permettre de produire un vélo. C'est chouette!'</p>
      </div>
      <div ng-click="shareBtn(1)" class="item item-divider item-icon-right">
        <i class="icon ion-android-share-alt"></i>
        Partager
      </div>
    </div>

  </ion-content>
</ion-view>
